SNAPTRADE_CLIENT_ID=
SNAPTRADE_CONSUMER_KEY=
DASHBOARD_BIND_IP=
MANUAL_DB_PATH=
MANUAL_DATA_DIR=
HISTORY_DB_PATH=
HISTORY_DATA_DIR=
SNAPSHOT_UTC_HOUR=
DASHBOARD_UID=
DASHBOARD_GID=
DASHBOARD_PASSWORD=
DASHBOARD_SESSION_SECRET=
AUTH_COOKIE_SECURE=
